div#header > h1 {
    color: rgb(54, 62, 136);
    margin-bottom: 0px;
}

div#header > h2 {
    color: rgb(153, 130, 3);
    margin-top: 0px;
    font-size: 20px;
}

div#header {
    text-align: center;
}

div {
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

h3 {
    margin-bottom: 2%;
    font-size: 20px;
} 

div#aboutSection > img {
    width : 45%;
    height: 40%;
    float: left;
    padding-right: 2%;
}

figure > img {
    width: 17%;
    height: 20%;
    float: left;
}

figcaption {
    font-family: fantasy;
    font-weight: 900;
}